<!DOCTYPE html>
<html xmls:th="http/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base href="/">
<title>Book Details</title>
<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container text-center">
		<div>
			<h1 th:text="${book.nameOfBook}"></h1>
		</div>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th>ISBN</th>
						<th>Name of book</th>
						<th>Printing House</th>
						<th>Author</th>
						<th>Year of publication</th>
						<th>Short description</th>
						<th>Price</th>
						<th>Number of pages</th>
						<th>Book cover</th>
						<th>Letter</th>
						<th>Language</th>
						<th>Average mark book</th>
						<th>Quantity</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody id="bookTable">
					<tr>
						<td th:text="${book.isbn}">ISBN</td>
						<td th:text="${book.nameOfBook}">Name of book</td>
						<td th:text="${book.printingHouse}">Printing House</td>
						<td th:text="${book.author}">Author</td>
						<td th:text="${book.yearOfPublication}">Year of publication</td>
						<td th:text="${book.shortDescription}">Short description</td>
						<td th:text="${book.price}">Price</td>
						<td th:text="${book.numberPages}">Number pages</td>
						<td th:text="${book.bookCover}">Book cover</td>
						<td th:text="${book.letter}">Letter</td>
						<td th:text="${book.language}">Language</td>
						<td th:text="${book.averageMarkBook}">Average mark book
							</td>
						<td th:text="${book.quantity}">Quantity</td>
						<td th:each="genre: ${book.genres}" th:text="${genre.name}">Genre</td>
							</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="webjars/jquery/3.0.0/jquery.min.js"></script>
</body>
</html>